@include media-breakpoint-up(lg) {
    .banner-container {
        height:70vh;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("../../img/mock\ up\ 1.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: right;
        z-index:-2;
    }
    .banner {
        position:absolute;
        top:-50%;
        left: 0;
        top: 0;
        background: $gris-claro;
        width:50%;
        height:200%;
        z-index:-1;
        border-radius: 0 50% 50% 0;
        transform: translateY(-35%);
        &__texto {
            margin-top:25px;
            font-size:1.3em;
        }
    }

    .servicios {
        height:80vh;
    }

    // ANIMACION


    .animation-element {
        width:35px;
    }
    .clientes {
        &__titulo {
            font-size:2.4em;
        }  
    }
    .footer {
        &__titulo {
            font-size:2.4em;
            padding-bottom: 55px;
        }
    }
    
}