@include media-breakpoint-up(lg) {
    .banner-container {
        height:70vh;
        z-index:-2;
    }
    .banner {
        position:absolute;
        top:-50%;
        left: 0;
        top: 0;
        background: $gris-claro;
        width:50%;
        height:200%;
        z-index:-1;
        border-radius: 0 50% 50% 0;
        transform: translateY(-35%);
        &__texto {
            margin-top:25px;
            font-size:1.3em;
        }
    }
    .banner__image {
        display:inline-block;
        position:absolute;
        width:65%;
        right:0;
        object-fit: cover;
        z-index:-2;
        >img {
            object-fit: cover;
            width:100%;
        }
    }
    .servicios {
        height:80vh;
    }

    // ANIMACION


    .animation-element {
        width:35px;
    }
    .clientes {
        &__titulo {
            font-size:2.4em;
        }  
    }
    .footer {
        &__titulo {
            font-size:2.4em;
            padding-bottom: 55px;
        }
    }
    
}