// HEADER

.main-header {
    background:$negro-oscuro;
    width:100%;
    &__logo {
        height:em(57px);
        transform:translateY(20%);
    }
}

// BANNER

.banner-container {
    position: relative;
    padding: em(50px) 0;
    margin-top: em(57px);
}

.banner {
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    top: 0;
    background: $gris-claro;
    width:100vw;
}

.titulo {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    color: $negro-oscuro;
    &__elemento {
        line-height:110%;
    } 
    &__elemento--last {
        line-height:80%;
    } 

}

// SERVICIOS

.servicios {
    position:relative;
    background: $gradiente-nominus;
    overflow: hidden;
}

.servicio {
    background: rgba(255,255,255,0.5);
    &__cuadro {
        background:white;
        position:relative;
    }
    .fas,.far {
        font-size:2.7em;
    }
    &__texto {
        font-size:0.9em;
        text-align: center;
    }
    &__titulo {
        height:50px;
        font-family: 'Oswald', sans-serif;
        text-transform:uppercase;
        color: $negro-oscuro;
    }
    &__titulo-elemento {
        display:block;
        width:100%;
        line-height:100%;
    }
    &__numero {
        position:absolute; 
        width:50px;
        height:50px;
        font-weight:bold;
        font-size:1.3em;
        background:white;
        color: #555;
        border:2px solid #aaa;
        border-radius:50%; 
        z-index:100;
        top:0;
        &--left {
            left:0;
            transform: translate(-50%, -50%);
        }
        &--right {
            right:0;
            top:0;
            transform: translate(50%, -50%);
        }
    }
}

// ANIMACION

.animation-background {
    position:absolute;
    top: 0;
    width:100vw;
    height:100%;
}

.animation-element {
    width:25px;
}

// SECCION CLIENTES

.clientes {
    background:$negro-oscuro;
    width:100%;
    padding: 55px 0;
    &__titulo {
        color:$marron-claro;
        font-family: 'Oswald', sans-serif;
        font-size:1.8em;
        margin:0 auto;
        padding-bottom: 55px;
    }
    &__imagen {
        width:100%;
    }
}
