// HEADER

.main-header {
    background:$negro-oscuro;
    &__logo {
        height:em(57px);
        transform:translateY(20%);
    }
}

// BANNER

.banner {
    background: $gris-claro;
    padding: em(50px) 0;
    margin-top: em(57px);
}

.titulo {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    color: $negro-oscuro;
    &__elemento {
        line-height:110%;
    } 
    &__elemento--last {
        line-height:80%;
    } 

}

// SERVICIOS

.servicios {
    background: $gradiente-nominus;
}

.servicio {
    background: rgba(255,255,255,0.5);
}