// CLASES GENERALES


// HEADER

.main-header {
    background:$negro-oscuro;
    width:100%;
    &__logo {
        height:em(57px);
        transform:translateY(20%);
    }
}

// BANNER

.banner-container {
    position: relative;
    padding: em(50px) 0;
    margin-top: em(57px);
}

.banner {
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    top: 0;
    background: $gris-claro;
    width:100vw;
}

.titulo {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    color: $negro-oscuro;
    &__elemento {
        line-height:110%;
    } 
    &__elemento--last {
        line-height:80%;
    } 

}

// SERVICIOS

.servicios {
    position:relative;
    background: $gradiente-nominus;
    overflow: hidden;
}

.servicio {
    background: rgba(255,255,255,0.5);
    &__cuadro {
        background:white;
        position:relative;
        min-height:206px;
    }
    .fas,.far {
        font-size:2.7em;
    }
    &__texto {
        font-size:0.9em;
        text-align: center;
    }
    &__titulo {
        height:50px;
        font-family: 'Oswald', sans-serif;
        text-transform:uppercase;
        color: $negro-oscuro;
    }
    &__titulo-elemento {
        display:block;
        width:100%;
        line-height:100%;
    }
    &__numero {
        position:absolute; 
        width:50px;
        height:50px;
        font-weight:bold;
        font-size:1.3em;
        background:white;
        color: #555;
        border:2px solid #aaa;
        border-radius:50%; 
        z-index:100;
        top:0;
        &--left {
            left:0;
            transform: translate(-50%, -50%);
        }
        &--right {
            right:0;
            top:0;
            transform: translate(50%, -50%);
        }
    }
}

// ANIMACION

.animation-background {
    position:absolute;
    top: 0;
    width:100vw;
    height:100%;
}

.animation-element {
    width:25px;
    transform: translateY(-100px);
}

// SECCION CLIENTES

.clientes {
    background:$negro-oscuro;
    width:100%;
    padding: 55px 0;
    &__titulo {
        color:$marron-claro;
        font-family: 'Oswald', sans-serif;
        font-size:1.8em;
        margin:0 auto;
        padding-bottom: 55px;
    }
    &__imagen {
        max-height: 135px;
    }
}

.footer {
    background:$gris-claro;
    width:100%;
    padding: 55px 0 0 0;
    &__titulo {
        color:$negro-oscuro;
        font-family: 'Oswald', sans-serif;
        font-size:1.8em;
        margin:0;
        padding-bottom: 32px;
    }
    &__info-elemento {
        color:$negro-oscuro;
        i {
            font-size:2.5em;
            width:50px;
            text-align: center;
        }
    }
    &__info-tipo {
        font-weight:bold;
    }
}

.formulario {
    width:95%;
    display:inline-block;
    box-sizing: border-box;
    &__input-50, &__input-100 {
        display:block;
        width:100%;
        flex-basis:100%;
        border:none;
        padding: 8px 15px;
        background:$negro-oscuro;
        color:$marron-claro;
        margin-bottom: 8px;
    }
    &__input-50::placeholder, &__input-100::placeholder {
        color:$marron-claro;
    }
    &__submit {
        border:none;
        outline:none;
        width:100%;
        color:$negro-oscuro;
        font-weight:bold;
        background:$marron-claro;
        padding: 10px 0;
    }
    &__text-area {
        height:45%;
    }
}

.copyright {
    color: #777;
    text-align: center;
    border-top:1px solid #999;
    margin: 0 10px;
    margin-top:35px;
    &__texto {
        text-align:center;
        display:block;
        width:100%;
        padding: 15px 0;
    }
}