@include media-breakpoint-up(md) {
    .clientes {
        &__imagen {
            width:75%;
            margin:0 auto;
            text-align: center;
        }
        &__titulo {
            font-size:1.9em;
        }
    }
    .footer {
        &__titulo {
            font-size:1.9em;
        }
        &__info {
            border-right: 1px solid #aaa;
        }
    }
    .copyright {
        &__texto {
            font-size:0.8em;
        }
    }
    .whatsapp-button {
        bottom:25px;
        right:25px;
    }
}